UserStorage/ClientApplication/Service References/WcfServices/master.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StorageInterfaces.CommunicationEntities.WcfEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StorageInterfaces.CommunicationEntities.WcfEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/master?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StorageInterfaces.Entities" />
  <xs:import schemaLocation="http://localhost:8080/master?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StorageInterfaces.Entities" minOccurs="0" name="Gender" type="q1:Gender" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visas" nillable="true" type="tns:ArrayOfCountryVisa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfCountryVisa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryVisa" type="tns:CountryVisa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryVisa" nillable="true" type="tns:ArrayOfCountryVisa" />
  <xs:complexType name="CountryVisa">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryVisa" nillable="true" type="tns:CountryVisa" />
</xs:schema>