UserStorage/ClientApplication/Service References/WcfService/master1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StorageInterfaces.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StorageInterfaces.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/master?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Man" />
      <xs:enumeration value="Woman" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfCountryVisa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryVisa" type="tns:CountryVisa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryVisa" nillable="true" type="tns:ArrayOfCountryVisa" />
  <xs:complexType name="CountryVisa">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      <xs:element minOccurs="0" name="start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryVisa" nillable="true" type="tns:CountryVisa" />
</xs:schema>